@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Oswald', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(244, 213, 244, 0.757);
  background-image: url(../src/assets/pexels-eberhard-grossgasteiger-2310713.jpg);
  background-repeat: no-repeat;
  background-size: 1080px;
  background-position-x: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
